@charset "UTF-8";
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ol,
ul {
    list-style-type: none
}

@-webkit-keyframes opening-y {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #ffdb00
    }
}

@keyframes opening-y {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #ffdb00
    }
}

@-webkit-keyframes opening-w {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #fff
    }
}

@keyframes opening-w {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #fff
    }
}

@-webkit-keyframes opening-b {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #000
    }
}

@keyframes opening-b {
    0% {
        stroke-dashoffset: 3000;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    85% {
        stroke-dashoffset: 2450;
        stroke-width: 2;
        stroke: #ffdb00;
        fill: transparent
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        stroke: transparent;
        fill: #000
    }
}

html {
    font-size: 62.5%;
    overflow-y: scroll
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8125;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #000
}

::-moz-selection {
    background: #000;
    color: #fff
}

::-webkit-selection {
    background: #000;
    color: #fff
}

::selection {
    background: #000;
    color: #fff
}

img::-moz-selection {
    background: rgba(0, 0, 0, .75)
}

img::selection {
    background: rgba(0, 0, 0, .75)
}

img::-moz-selection {
    background: rgba(0, 0, 0, .75)
}

a {
    color: #000;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a[href^="tel:"] {
    pointer-events: none;
    color: #000;
    text-decoration: none;
    cursor: text
}

img,
svg {
    vertical-align: top;
    width: 100%;
    height: auto
}

.l-loading {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-transition: opacity .5s linear 2.175s, -webkit-transform 0s linear 2.675s;
    transition: opacity .5s linear 2.175s, -webkit-transform 0s linear 2.675s;
    transition: opacity .5s linear 2.175s, transform 0s linear 2.675s;
    transition: opacity .5s linear 2.175s, transform 0s linear 2.675s, -webkit-transform 0s linear 2.675s;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.is-complete .l-loading {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.l-loading .mark {
    width: 100px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}

.l-loading .mark svg {
    -webkit-transition: opacity .25s linear 2s, -webkit-transform .25s cubic-bezier(.645, .045, .355, 1) 2s;
    transition: opacity .25s linear 2s, -webkit-transform .25s cubic-bezier(.645, .045, .355, 1) 2s;
    transition: opacity .25s linear 2s, transform .25s cubic-bezier(.645, .045, .355, 1) 2s;
    transition: opacity .25s linear 2s, transform .25s cubic-bezier(.645, .045, .355, 1) 2s, -webkit-transform .25s cubic-bezier(.645, .045, .355, 1) 2s;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.is-complete .l-loading .mark svg {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.l-loading .mark svg .b,
.l-loading .mark svg .w,
.l-loading .mark svg .y {
    stroke: #fff;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 3000;
    stroke-dashoffset: 2450
}

.is-complete .l-loading .mark svg .y {
    -webkit-animation: opening-y 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards;
    animation: opening-y 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards
}

.is-complete .l-loading .mark svg .w {
    -webkit-animation: opening-w 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards;
    animation: opening-w 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards
}

.is-complete .l-loading .mark svg .b {
    -webkit-animation: opening-b 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards;
    animation: opening-b 1.75s cubic-bezier(.77, 0, .175, 1) 0s forwards
}

.l-wrapper {
    overflow: hidden;
    -webkit-transition: opacity .25s linear 0s;
    transition: opacity .25s linear 0s
}

.is-complete .l-wrapper {
    opacity: 1
}

.l-footer {
    position: relative;
    text-align: center;
    background: #ffdb00;
    padding: 30px 0;
    margin: calc(100px + 30px) 0 0
}

.l-footer:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #ffdb00 transparent;
    position: absolute;
    left: 0;
    top: -100px
}

.l-footer .ttl {
    font-size: 1.8rem;
    margin: 0 0 15px
}

.l-footer ul img {
    font-size: 0;
    width: 17px;
    vertical-align: middle;
    margin: 0 5px 0 0
}

.l-footer ul.btns {
    display: flex;
    margin: 30px 0 15px;
    font-size: 1.4rem
}

.l-footer ul.btns li {
    margin: 5px 0 0
}

.l-footer ul.credit li {
    cursor: text
}

.l-footer .privacy {
    width: 94px;
    margin: 30px auto
}

.reason_heal {
    width: 8vw;
}

.l-footer .pagetop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: opacity .25s linear 0s, -webkit-transform 0s linear .25s;
    transition: opacity .25s linear 0s, -webkit-transform 0s linear .25s;
    transition: transform 0s linear .25s, opacity .25s linear 0s;
    transition: transform 0s linear .25s, opacity .25s linear 0s, -webkit-transform 0s linear .25s
}

.is-scroll .l-footer .pagetop {
    -webkit-transition: opacity .25s linear 0s, -webkit-transform 0s linear 0s;
    transition: opacity .25s linear 0s, -webkit-transform 0s linear 0s;
    transition: transform 0s linear 0s, opacity .25s linear 0s;
    transition: transform 0s linear 0s, opacity .25s linear 0s, -webkit-transform 0s linear 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.l-footer .copyright {
    font-size: 1.1rem
}

.p-top__mv {
    position: relative
}

.p-top__mv:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 30vw;
    border-color: transparent transparent #ffdb00 transparent;
    position: absolute;
    right: 0;
    bottom: 0
}

.p-top__mv:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vw 0 0 100vw;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0;
    bottom: 0
}

.p-top__mv .logo span {
    display: block;
    width: 12.5vw;
    position: absolute;
    left: 4.5vw;
    top: 5vh;
    z-index: 3
}

.p-top__mv .logo:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90vh 0 0 25vw;
    border-color: transparent transparent transparent #ffdb00;
    position: absolute;
    left: 0;
    bottom: 0
}

.p-top__mv .logo:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75vh 30vw 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0
}

.p-top__mv .txt {
    position: absolute;
    right: 30px;
    bottom: 90px
}

.p-top__mv .txt .catch01 {
    width: 30vw
}

.p-top__mv .txt .catch02 {
    width: 25vw;
    margin: 30px 0 15px
}

.p-top__mv .txt .desc {
    font-size: 1.32812vw;
    font-weight: 700
}

.p-top__mv .blanks {
    position: absolute;
    right: 0;
    top: 0
}

.p-top__mv .blanks ul {
    font-size: 0;
    text-align: right
}

.p-top__mv .blanks li {
    display: inline-block;
    margin: 0 0 0 8px
}

.p-top__whats {
    position: relative;
    padding: 60px 0 0
}

.p-top__whats .ttl {
    width: 8vw;
    position: absolute;
    right: 5vw;
    top: 45px;
    z-index: 1
}

.p-top__whats .img {
    width: 69.25vw;
    padding: 0 16vw 0 0;
    margin: 0 0 0 auto
}

.p-top__whats .copy {
    position: absolute;
    left: 0;
    top: 120px
}

.p-top__whats .copy li {
    margin: 0 0 15px;
    font-size: 0
}

.p-top__whats .copy01 img {
    width: 24.5vw
}

.p-top__whats .copy02 img {
    width: 48.05vw
}

.p-top__whats .copy33 img {
    width: 58vw;
}

.p-top__whats .copy21 img {
    width: 36.05vw
}

.p-top__whats .copy22 img {
    width: 52.05vw
}

.p-top__whats .copy23 img {
    width: 47.05vw
}

.p-top__whats .copy24 img {
    width: 34.05vw
}

.p-top__whats .desc {
    font-size: 2.32812vw;
    font-weight: 700;
    width: 55vw;
    margin: 45px auto 0
}

.p-top__whats .btn {
    text-align: center;
    margin: 30px 0 0
}

.p-top__point {
    position: relative;
    padding: 30px 0 0;
    margin: 60px 0 0
}

.p-top__point .ttl {
    width: 8vw;
    position: absolute;
    left: 5vw;
    top: 45px;
    z-index: 1
}

.p-top__point .img {
    width: 64.5vw;
    padding: 0 0 0 16vw;
    margin: 0 auto 0 0
}

.p-top__point .copy {
    text-align: right;
    position: absolute;
    right: 0;
    top: 120px
}

.p-top__point .copy li {
    margin: 0 0 15px auto
}

.p-top__point .copy03 img {
    width: 38vw
}

.p-top__point .copy04 img {
    width: 37.19vw
}

.p-top__point .ttl-sub {
    font-size: 0;
    text-align: center;
    margin: 45px 0 0
}

.p-top__point .ttl-sub strong {
    font-size: 2.5625vw;
    position: relative;
    display: inline-block;
    background: url(../img/slash.svg) repeat-x center bottom;
    background-size: .75em;
    padding: 0 .5em
}

.p-top__point .ttl-sub strong:nth-of-type(1) {
    padding-right: 0
}

.p-top__point .ttl-sub strong:nth-of-type(2) {
    padding-left: 0
}

.p-top__point .points {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 2.5vw
}

.p-top__point .points .block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(100% / 3);
    -ms-flex: 0 1 calc(100% / 3);
    flex: 0 1 calc(100% / 3);
    padding: 0 2.5vw;
    margin: 45px 0 0
}

.p-top__point .points h3 {
    font-size: 1.5625vw;
    line-height: 1.35;
    position: relative;
    padding: 0 0 0 2.5em
}

.p-top__point .points h3 img {
    width: 2em;
    position: absolute;
    bottom: 50%;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    left: 0
}

.p-top__point .points p {
    font-size: 1.25vw;
    margin: 15px 0 0
}

.p-top__point .btn {
    text-align: center;
    margin: 30px 0 0
}

.p-top__service {
    position: relative;
    margin: calc(100px + 30px) 0 calc(100px + 15px);
    background: #ffdb00
}

.p-top__service_01 {
    position: relative;
    margin: calc(100px + 30px) 0 calc(100px + 15px);
    background: #ffffff
}

.p-top__service:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: transparent #ffdb00 transparent transparent;
    position: absolute;
    left: 0;
    top: -100px
}

.p-top__service_01:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: 0;
    top: -100px
}

.p-top__service:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 100px 0;
    border-color: transparent #ffdb00 transparent transparent;
    position: absolute;
    left: 0;
    bottom: -100px
}

.p-top__service_01:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 100px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: 0;
    bottom: -100px
}

.p-top__service>.inner {
    padding: 30px 0;
    width: 60vw;
    margin: 0 auto;
    text-align: center
}

.p-top__service_01>.inner {
    padding: 30px 0;
    width: 60vw;
    margin: 0 auto;
    text-align: center
}

.p-top__service .ttl {
    width: 8vw;
    position: absolute;
    right: 5vw;
    top: 45px;
    z-index: 1
}

.p-top__service_01 .ttl {
    width: 8vw;
    position: absolute;
    right: 5vw;
    top: 45px;
    z-index: 1
}

.p-top__service .ttl-sub {
    display: inline-block;
    font-size: 0;
    text-align: center
}

.p-top__service_01 .ttl-sub {
    display: inline-block;
    font-size: 0;
    text-align: center
}

.p-top__service .ttl-sub strong {
    font-size: 1.5625vw;
    position: relative;
    display: inline-block;
    background: url(../images/slash_w.svg) repeat-x center bottom;
    background-size: .75em
}

.p-top__service_01 .ttl-sub strong {
    font-size: 1.5625vw;
    position: relative;
    display: inline-block;
    background: url(../images/slash_w.svg) repeat-x center bottom;
    background-size: .75em
}

.p-top__service .ttl-sub strong:first-of-type {
    padding-left: .5em
}

.p-top__service_01 .ttl-sub strong:first-of-type {
    padding-left: .5em
}

.p-top__service .ttl-sub strong:last-of-type {
    padding-right: .5em
}

.p-top__service_01 .ttl-sub strong:last-of-type {
    padding-right: .5em
}

.p-top__service .ttl-sub span {
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
    text-align: right;
    margin: 5px 0 0
}

.p-top__service_01 .ttl-sub span {
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
    text-align: right;
    margin: 5px 0 0
}

.p-top__service figcaption {
    font-size: 1.40625vw;
    font-weight: 700;
    margin: 0 0 15px
}

.p-top__service_01 figcaption {
    font-size: 1.40625vw;
    font-weight: 700;
    margin: 0 0 15px
}

.p-top__service .sevice01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 0 0
}

.p-top__service_01 .sevice01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 0 0
}

.p-top__service .sevice01 li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%
}

.p-top__service_01 .sevice01 li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%
}

.p-top__service .sevice02 {
    margin: 45px 0
}

.p-top__service_01 .sevice02 {
    margin: 45px 0
}

.p-top__service .sevice03 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.p-top__service_01 .sevice03 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.p-top__service .sevice03 li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 17.5%;
    -ms-flex: 0 1 17.5%;
    flex: 0 1 17.5%
}

.p-top__service_01 .sevice03 li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 17.5%;
    -ms-flex: 0 1 17.5%;
    flex: 0 1 17.5%
}

.p-top__service .btn {
    text-align: center;
    margin: 60px 0 0
}

.p-top__service_01 .btn {
    text-align: center;
    margin: 60px 0 0
}

.p-top__payment {
    position: relative;
    padding: 30px 0 0
}

.p-top__payment .ttl {
    width: 8vw;
    position: absolute;
    left: 5vw;
    top: 45px;
    z-index: 1
}

.p-top__payment .img {
    width: 64.5vw;
    padding: 0 0 0 16vw;
    margin: 0 auto 0 0
}

.p-top__payment .copy {
    text-align: right;
    position: absolute;
    right: 0;
    top: 90px
}

.p-top__payment .copy li {
    margin: 0 0 15px auto
}

.p-top__payment .copy05 img {
    width: 37.66vw
}

.p-top__payment .copy06 img {
    width: 32.27vw
}

.p-top__payment .ttl-sub {
    font-size: 0;
    text-align: center;
    margin: 45px 0 0
}

.p-top__payment .ttl-sub strong {
    font-size: 1.5625vw;
    position: relative;
    display: inline-block;
    background: url(../images/slash.svg) repeat-x center bottom;
    background-size: .75em;
    padding: 0 .5em
}

.service_img {
    width: 37vw;
    height: auto;
    margin: auto;
}

@media (max-width: 980px) {
    .service_img {
        width: 37vw;
        height: auto;
        margin: auto;
    }
}

.payment_ttl {
    width: 8vw;
}

@media (max-width: 980px) {
    .payment_ttl {
        width: 12vw;
    }
}

.p-top__payment .ttl-sub strong:nth-of-type(1) {
    padding-right: 0
}

.p-top__payment .ttl-sub strong:nth-of-type(2) {
    padding-left: 0
}

.p-top__payment .desc {
    font-size: 1.32812vw;
    font-weight: 700;
    text-align: center;
    width: 55vw;
    margin: 30px auto
}

.p-top__payment .btn {
    text-align: center;
    margin: 30px 0 0
}

.p-top__merit {
    position: relative;
    padding: 60px 0 0;
    margin: 30px 0 0
}

.p-top__merit .ttl {
    width: 13.6vw;
    position: absolute;
    right: 5vw;
    top: 90px;
    z-index: 1
}

.p-top__merit .img {
    width: 69.5vw;
    padding: 0 16vw 0 0;
    margin: 0 0 0 auto
}

.p-top__merit .copy {
    position: absolute;
    left: 0;
    top: 120px
}

.p-top__merit .copy li {
    margin: 0 0 15px
}

.p-top__merit .copy07 img {
    width: 30.79vw
}

.p-top__merit .copy08 img {
    width: 27.11vw
}

.p-top__merit .ttl-sub {
    font-size: 0;
    text-align: center;
    margin: 30px 0 0
}

.p-top__merit .ttl-sub strong {
    font-size: 2.5625vw;
    position: relative;
    display: inline-block;
    background: url(../img/slash.svg) repeat-x center bottom;
    background-size: .75em;
    padding: 0 .5em
}

.p-top__merit .merits {
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 2.5vw
}

.p-top__merit .merits .block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 calc(100% / 4);
    -ms-flex: 0 1 calc(100% / 4);
    flex: 0 1 calc(100% / 4);
    padding: 0 2.5vw;
    margin: 45px 0 0
}

.p-top__merit .merits h3 {
    font-size: 1.40625vw;
    line-height: 1.35;
    position: relative;
    padding: 0 0 0 2.75em
}

.p-top__merit .merits h3 img {
    width: 2.25em;
    position: absolute;
    bottom: 50%;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    left: 0
}

.p-top__merit .merits p {
    font-size: 1.25vw;
    margin: 15px 0 0
}

.p-top__merit .merits li {
    font-size: 1.01562vw;
    font-weight: 700;
    opacity: .5
}

.p-top__merit .btn {
    text-align: center;
    margin: 45px 0 0
}

.p-top .is-inview1 {
    -webkit-transition: opacity .5s linear 0s, -webkit-transform .75s cubic-bezier(.165, .84, .44, 1) 0s;
    transition: opacity .5s linear 0s, -webkit-transform .75s cubic-bezier(.165, .84, .44, 1) 0s;
    transition: opacity .5s linear 0s, transform .75s cubic-bezier(.165, .84, .44, 1) 0s;
    transition: opacity .5s linear 0s, transform .75s cubic-bezier(.165, .84, .44, 1) 0s, -webkit-transform .75s cubic-bezier(.165, .84, .44, 1) 0s;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.p-top .is-inview1.is-out {
    opacity: 0;
    -webkit-transform: translate(0, 60px);
    -ms-transform: translate(0, 60px);
    transform: translate(0, 60px)
}

.p-top .is-inview2 {
    overflow: hidden;
    -webkit-transition: width .75s cubic-bezier(.785, .135, .15, .86) 175ms;
    transition: width .75s cubic-bezier(.785, .135, .15, .86) 175ms
}

.p-top .is-inview2.copy01 {
    margin: 0 0 15px;
    width: 33.99vw;
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.p-top .is-inview2.copy02 {
    margin: 0 0 15px;
    width: 62vw;
}

.p-top .is-inview2.copy03 {
    width: 54vw;
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.p-top .is-inview2.copy04 {
    width: 37.19vw
}

.p-top .is-inview2.copy05 {
    width: 37.66vw;
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.p-top .is-inview2.copy06 {
    width: 32.27vw
}

.p-top .is-inview2.copy07 {
    width: 30.79vw;
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.p-top .is-inview2.copy08 {
    width: 27.11vw
}

.p-top .is-inview2.copy33 {
    width: 65.11vw
}

.p-top .is-inview2.is-out {
    width: 0
}

.c-btn {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 1.25em 2em;
    -webkit-transition: background .25s linear 0s;
    transition: background .25s linear 0s
}

.c-btn:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: .5em;
    height: .5em;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 0 0 1em
}

.c-btn:hover {
    background: #404040
}

.c-btn--mv {
    font-size: 1.2rem
}

.c-btn--pagetop {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap
}

.c-btn--pagetop:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -5px
}

.u-pc-view {
    display: block!important
}

.u-sp-view {
    display: none!important
}

.u-pc-view-in {
    display: inline!important
}

.u-sp-view-in {
    display: none!important
}

.u-pc-view-ib {
    display: inline-block!important
}

.u-sp-view-ib {
    display: none!important
}

.u-fs0 {
    font-size: 0
}

@media (max-width:980px) {
    a[href^="tel:"] {
        pointer-events: auto;
        text-decoration: underline;
        cursor: pointer
    }
    .l-footer {
        margin: calc(45px + 30px) 0 0;
        padding: 30px 15px
    }
    .l-footer:before {
        border-width: 0 0 45px 100vw;
        top: -45px
    }
    .l-footer .desc {
        text-align: left
    }
    .l-footer ul.btns {
        margin: 15px 0
    }
    .l-footer .privacy {
        margin: 15px auto
    }
    .p-top__mv {
        background: #ffdb00
    }
    .p-top__mv:before {
        display: none
    }
    .p-top__mv:after {
        display: none
    }
    .p-top__mv .logo span {
        width: 17.5vw;
        left: 4vw;
        top: 2vh
    }
    .p-top__mv .logo:before {
        display: none
    }
    .p-top__mv .logo:after {
        border-width: 305px 35vw 0 0;
        z-index: 2
    }
    .p-top__mv .img {
        height: 95vw;
        background: red
    }
    .p-top__mv .img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }
    .p-top__mv .txt {
        position: relative;
        right: auto;
        bottom: auto;
        padding: 0 15px 5px;
        margin: -45px 0 0
    }
    .p-top__mv .txt:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 100vw;
        border-color: transparent transparent transparent #ffdb00;
        position: absolute;
        left: 0;
        top: 0
    }
    .p-top__mv .txt:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 100vw 0 0;
        border-color: #ffdb00 transparent transparent transparent;
        position: absolute;
        left: 0;
        bottom: -45px
    }
    .p-top__mv .txt .catch01 {
        width: 240px;
        position: relative
    }
    .p-top__mv .txt .catch02 {
        width: 180px;
        margin: 15px 0 10px
    }
    .p-top__mv .txt .desc {
        font-size: 1.6rem
    }
    .p-top__mv .blanks li {
        display: block;
        margin: 0 0 5px
    }
    .p-top__whats .ttl {
        width: 65px;
        right: 0
    }
    .p-top__whats .img {
        width: auto;
        padding: 0 45px 0 15px
    }
    .p-top__whats .copy {
        position: static
    }
    .p-top__whats .copy li {
        margin: 10px 0 0
    }
    .p-top__whats .copy01 img {
        width: 48vw;
        max-width: 300px
    }
    .p-top__whats .copy02 img {
        width: 181vw;
        max-width: 364px
    }
    .p-top__whats .copy33 img {
        width: 207vw;
        max-width: 364px
    }
    .p-top__whats .desc {
        font-size: 1.6rem;
        width: auto;
        margin: 20px 15px
    }
    .p-top__whats .btn {
        margin: 20px 0 0
    }
    .p-top__point {
        margin: 15px 0 0
    }
    .p-top__point .ttl {
        width: 65px;
        left: 0
    }
    .p-top__point .img {
        width: auto;
        padding: 0 15px 0 45px
    }
    .p-top__point .copy {
        position: static
    }
    .p-top__point .copy li {
        margin: 10px 0 0 auto
    }
    .p-top__point .copy03 img {
        width: 87vw;
        max-width: 357px
    }
    .p-top__point .copy04 img {
        width: 87vw;
        max-width: 357px
    }
    .p-top__whats .copy21 img {
        width: 69.05vw
    }
    .reason_heal {
        width: 14vw;
    }
    .p-top__whats .copy22 img {
        width: 102.05vw
    }
    .p-top__whats .copy23 img {
        width: 92.05vw
    }
    .p-top__whats .copy24 img {
        width: 66.05vw
    }
    .p-top__point .ttl-sub {
        margin: 15px 0 0
    }
    .p-top__point .ttl-sub strong {
        font-size: 1.8rem
    }
    .p-top__point .ttl-sub strong:nth-of-type(1) {
        padding-right: .5em
    }
    .p-top__point .ttl-sub strong:nth-of-type(2) {
        padding-left: .5em
    }
    .p-top__point .points {
        display: block;
        padding: 0 15px
    }
    .p-top__point .points .block {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0;
        margin: 30px 0 0
    }
    .p-top__point .points h3 {
        font-size: 1.8rem
    }
    .p-top__point .points p {
        font-size: 1.6rem
    }
    .p-top__service {
        margin: calc(45px + 30px) 0 calc(45px + 15px)
    }
    .p-top__service:before {
        border-width: 45px 100vw 0 0;
        top: -45px
    }
    .p-top__service:after {
        border-width: 0 100vw 45px 0;
        bottom: -45px
    }
    .p-top__service>.inner {
        width: auto;
        padding: 15px
    }
    .p-top__service .ttl {
        width: 65px;
        right: 0;
        top: 0
    }
    .p-top__service .ttl-sub strong {
        font-size: 1.8rem;
        padding: 0 .5em
    }
    .p-top__service figcaption {
        font-size: 1.6rem;
        margin: 0 0 5px
    }
    .p-top__service .sevice01 {
        display: block;
        max-width: 200px;
        margin: 0 auto
    }
    .p-top__service .sevice01 li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        margin: 30px 0 0
    }
    .p-top__service .sevice02 {
        margin: 30px 0
    }
    .p-top__service .sevice02 .scrl {
        overflow-x: auto;
        padding: 0 0 15px
    }
    .p-top__service .sevice02 .scrl::-webkit-scrollbar-track {
        background: 0 0
    }
    .p-top__service .sevice02 .scrl::-webkit-scrollbar-thumb {
        background: #000
    }
    .p-top__service .sevice02 .scrl::-webkit-scrollbar-track-piece {
        background: rgba(255, 255, 255, .5)
    }
    .p-top__service .sevice02 .scrl::-webkit-scrollbar {
        width: 4px;
        height: 4px
    }
    .p-top__service .sevice02 .scrl img {
        width: 640px
    }
    .p-top__service .sevice03 {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto
    }
    .p-top__service .sevice03 li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 calc(100% / 3);
        -ms-flex: 0 1 calc(100% / 3);
        flex: 0 1 calc(100% / 3);
        padding: 5px
    }
    .p-top__service .btn {
        margin: 30px 0 0
    }
    .p-top__service_01 {
        margin: calc(45px + 30px) 0 calc(45px + 15px)
    }
    .p-top__service_01:before {
        border-width: 45px 100vw 0 0;
        top: -45px
    }
    .p-top__service_01:after {
        border-width: 0 100vw 45px 0;
        bottom: -45px
    }
    .p-top__service_01>.inner {
        width: auto;
        padding: 15px
    }
    .p-top__service_01 .ttl {
        width: 65px;
        right: 0;
        top: 0
    }
    .p-top__service_01 .ttl-sub strong {
        font-size: 1.8rem;
        padding: 0 .5em
    }
    .p-top__service_01 figcaption {
        font-size: 1.6rem;
        margin: 0 0 5px
    }
    .p-top__service_01 .sevice01 {
        display: block;
        max-width: 200px;
        margin: 0 auto
    }
    .p-top__service_01 .sevice01 li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        margin: 30px 0 0
    }
    .p-top__service_01 .sevice02 {
        margin: 30px 0
    }
    .p-top__service_01 .sevice02 .scrl {
        overflow-x: auto;
        padding: 0 0 15px
    }
    .p-top__service_01 .sevice02 .scrl::-webkit-scrollbar-track {
        background: 0 0
    }
    .p-top__service_01 .sevice02 .scrl::-webkit-scrollbar-thumb {
        background: #000
    }
    .p-top__service_01 .sevice02 .scrl::-webkit-scrollbar-track-piece {
        background: rgba(255, 255, 255, .5)
    }
    .p-top__service_01 .sevice02 .scrl::-webkit-scrollbar {
        width: 4px;
        height: 4px
    }
    .p-top__service_01 .sevice02 .scrl img {
        width: 640px
    }
    .p-top__service_01 .sevice03 {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto
    }
    .p-top__service_01 .sevice03 li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 calc(100% / 3);
        -ms-flex: 0 1 calc(100% / 3);
        flex: 0 1 calc(100% / 3);
        padding: 5px
    }
    .p-top__service_01 .btn {
        margin: 30px 0 0
    }
    .p-top__payment {
        padding: 0
    }
    .p-top__payment .ttl {
        width: 65px;
        left: 0;
        top: 0
    }
    .p-top__payment .img {
        width: auto;
        padding: 0 15px 0 45px
    }
    .p-top__payment .copy {
        position: static
    }
    .p-top__payment .copy li {
        margin: 10px 0 0 auto
    }
    .p-top__payment .copy05 img {
        width: 65vw;
        max-width: 300px
    }
    .p-top__payment .copy06 img {
        width: 65vw;
        max-width: 300px
    }
    .p-top__payment .ttl-sub {
        margin: 20px 0 0
    }
    .p-top__payment .ttl-sub strong {
        font-size: 1.8rem
    }
    .p-top__payment .ttl-sub strong:nth-of-type(1) {
        padding-right: .5em
    }
    .p-top__payment .ttl-sub strong:nth-of-type(2) {
        padding-left: .5em
    }
    .p-top__payment .desc {
        font-size: 1.6rem;
        text-align: left;
        width: auto;
        margin: 15px
    }
    .p-top__payment .btn {
        margin: 20px 0 0
    }
    .p-top__merit {
        padding: 15px 0 0;
        margin: 45px 0 0
    }
    .p-top__merit .ttl {
        width: 98px;
        right: 0;
        top: 0
    }
    .p-top__merit .img {
        width: auto;
        padding: 0 45px 0 15px
    }
    .p-top__merit .copy {
        position: static
    }
    .p-top__merit .copy li {
        margin: 10px 0 0
    }
    .p-top__merit .copy07 img {
        width: 65vw;
        max-width: 300px
    }
    .p-top__merit .copy08 img {
        width: 65vw;
        max-width: 300px
    }
    .p-top__merit .ttl-sub {
        margin: 20px 0 0
    }
    .p-top__merit .ttl-sub strong {
        font-size: 1.8rem
    }
    .p-top__merit .merits {
        display: block;
        padding: 0 15px
    }
    .p-top__merit .merits .block {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0;
        margin: 30px 0 0
    }
    .p-top__merit .merits h3 {
        font-size: 1.8rem
    }
    .p-top__merit .merits p {
        font-size: 1.6rem
    }
    .p-top__merit .merits li {
        font-size: 1.2rem
    }
    .p-top__merit .btn {
        margin: 30px 0 0
    }
    .p-top .is-inview2.copy01 {
        width: 65vw
    }
    .p-top .is-inview2.copy02 {
        width: 200vw
    }
    .p-top .is-inview2.copy03 {
        width: 101vw
    }
    .p-top .is-inview2.copy04 {
        width: 101vw
    }
    .p-top .is-inview2.copy05 {
        width: 65vw
    }
    .p-top .is-inview2.copy06 {
        width: 65vw
    }
    .p-top .is-inview2.copy07 {
        width: 65vw
    }
    .p-top .is-inview2.copy08 {
        width: 65vw
    }
    .p-top .is-inview2.copy33 {
        width: 129vw
    }
    .p-top .is-inview2.is-out {
        width: 0
    }
    .c-btn {
        font-size: 1.6rem
    }
    .c-btn--mv {
        font-size: 1.3rem;
        line-height: 1.35;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        min-width: 60px;
        min-height: 55px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .c-btn--mv:after {
        display: none
    }
    .u-pc-view {
        display: none!important
    }
    .u-sp-view {
        display: block!important
    }
    .u-pc-view-in {
        display: none!important
    }
    .u-sp-view-in {
        display: inline!important
    }
    .u-pc-view-ib {
        display: none!important
    }
    .u-sp-view-ib {
        display: inline-block!important
    }
}